In [9]:
import pandas as pd
import numpy as np
from EvGym import config

In [10]:
df_sessions = pd.read_csv(f"{config.data_path}/df_elaad_preproc.csv", parse_dates=["starttime_parking", "endtime_parking"])
df_sessions.describe(datetime_is_numeric=True)

,session,Connector,starttime_parking,endtime_parking,connected_time_float,charged_time_float,total_energy,max_power,start_hour,day_no,...,soc_arr,charged_time,connected_time,ts_arr,ts_dep,ts_soj,laxity,depart_hour,xi,laxity_float
count,9.997000e+03,9997.000000,9997,9997,9997.000000,9997.000000,9997.000000,9997.000000,9997.000000,9997.000000,...,9997.000000,9997.000000,9997.000000,9997.000000,9997.000000,9997.000000,9.997000e+03,9997.000000,9.997000e+03,9.997000e+03
mean,3.452763e+06,1.360308,2019-07-11 11:10:26.353906176,2019-07-11 16:59:39.029708800,5.820084,2.877626,13.634439,5.589205,12.411323,190.927678,...,0.612447,3.354906,6.325598,171154.675603,171161.001200,6.325598,3.672141e+00,18.736921,1.978880e+01,3.166627e+00
min,3.261657e+06,1.000000,2019-01-01 00:30:00,2019-01-01 08:24:00,0.020000,0.020000,0.100000,0.167000,0.000000,0.000000,...,0.000000,1.000000,1.000000,166560.000000,166568.000000,1.000000,-4.440892e-16,2.000000,-2.393152e-15,-8.881784e-16
25%,3.360960e+06,1.000000,2019-04-04 12:28:00,2019-04-04 16:18:00,1.510000,1.250000,4.530000,3.398000,9.000000,93.000000,...,0.498375,2.000000,2.000000,168804.000000,168808.000000,2.000000,5.300000e-01,13.000000,2.856117e+00,0.000000e+00
50%,3.452128e+06,1.000000,2019-07-10 07:15:00,2019-07-10 13:11:00,3.380000,2.240000,7.830000,3.640000,12.000000,190.000000,...,0.668160,3.000000,4.000000,171127.000000,171133.000000,4.000000,9.600000e-01,16.000000,5.173344e+00,3.100000e-01
75%,3.547565e+06,2.000000,2019-10-22 05:59:00,2019-10-22 12:34:00,8.390000,3.500000,18.260000,7.277000,16.000000,294.000000,...,0.801562,4.000000,9.000000,173621.000000,173629.000000,9.000000,4.801484e+00,21.000000,2.587472e+01,4.410000e+00
max,3.634022e+06,2.000000,2019-12-31 17:46:00,2019-12-31 21:04:00,161.170000,25.670000,93.929000,22.500000,23.000000,364.000000,...,0.967305,26.000000,162.000000,175313.000000,175317.000000,162.000000,1.548015e+02,175.000000,8.342098e+02,1.539715e+02
std,1.075844e+05,0.480114,NaN,NaN,7.094334,2.644101,14.283505,3.333594,4.531763,110.507278,...,0.257299,2.649885,7.091561,2652.263849,2652.549167,7.091561,6.333161e+00,9.163897,3.412877e+01,6.333746e+00

In [11]:
df_sessions["ts_arr"].head()

0    166560.0
1    166570.0
2    166571.0
3    166572.0
4    166572.0
Name: ts_arr, dtype: float64

In [17]:
# Note! This doesn't take into account the charging efficiency
(config.FINAL_SOC - df_sessions.soc_arr).sum() * config.B * 0.40 / config.eta_c

116717.08065306123

In [16]:
df_sessions.energy_supplied.sum() * 0.40 / config.eta_c

116717.08065306123

In [14]:
df_price = pd.read_csv(f"{config.data_path}/df_price_2019.csv", parse_dates=["date"])
df_price.head()

                 date  price_da  price_im        ts
0 2019-01-01 00:00:00         0    0.4801  166560.0
1 2019-01-01 01:00:00         0    0.3903  166561.0
2 2019-01-01 02:00:00         0    0.2539  166562.0
3 2019-01-01 03:00:00         0    0.3095  166563.0
4 2019-01-01 04:00:00         0    0.3885  166564.0